.app {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.appHeader {
    text-align: center;
}

.feature {
    padding: 15px;
    margin-left: 45px;
    margin-bottom: 15px;
}

.featureStatus {
    display: flex;
    align-items: flex-end;
    flex-flow: column;
    flex: 1;
}

.mdl-card {
    width: 100%;
}

.featureCategory {
    margin: 15px;
}