.content {
    min-height: 50vh;
    width: 100%;
    padding: 15px 0;
}

.feature {
    padding: 15px;
    margin-left: 45px;
    margin-bottom: 15px;
    width: 90%;
}

.featureStatus {
    display: flex;
    align-items: flex-end;
    flex-flow: column;
    flex: 1;
}

.featureCategory {
    margin: 15px;
}

.mdl-spinner {
    margin: 0 auto;
    display: flex;
}

.mdl-layout__container {
    position: relative;
}